@page
@model cafe.Pages.FoodType.CreateModel
@{
}

<div class="row">
    <div class="col-12 col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Add food type</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="mb-3">
                        <label class="form-label">Food name</label>
                        <input type="text" name="foodTypeName" class="form-control" placeholder="Food name">
                    </div>
                   
                    <button type="submit" value="Save" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>

    </div>

    <div class="col-12 col-lg-6">
	
    </div>
</div>
